<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Content Header (Page header) START -->
<!-- Define all the Page related headers from Controller -->

<!-- Content Header (Page header) -->
<section class="content-header" th:fragment="contentheader">

	<!-- This contents are commented for now untill full works not completed -->
  <!-- <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>MCH</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">RTPCR</li>
        </ol>
      </div>
    </div>
  </div> -->
  <!-- /.container-fluid -->
</section>
<!-- Content Header (Page header) END -->
<body>
</body>
</html>



